.cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #F77D0C;
	font-family: sans-serif;
	padding-right: 1rem;
	border-radius: 5px;
}

.cabecalhoBotao {
	display: none;
}

/*  ~ combinador (irmão geral) OU + combinador (irmão próximo) para
mudar a imagem do menu quando for clicado. Usa o combinador filho para
selecinar a classe .cabecalho__menu-hamburquer onde está a imagem. */
.cabecalhoBotao:checked~.cabecalhoLabel>.cabecalhoMenuHamburguer {
	background-image: url(../img/MenuAberto.svg);
}

.cabecalhoLabel {
	cursor: pointer;
	padding: 1rem;
}

.cabecalhoMenuHamburguer {
	width: 24px;
	height: 24px;
	background-image: url("../img/menuFechado.png");
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}

/*  ~ combinador (irmão geral) OU + combinador (irmão próximo) para abrir o menu */
.cabecalhoBotao:checked ~ .cabecalhoMenu {
	margin-left: 0;
	height: auto;
}

.cabecalhoMenu {
	position: absolute;
	top: 5rem;
	transition: all 1s;
	background-color: #F77D0C;
	margin-left: -100%;
	height: auto;
	border-radius: 0 30px;
}

.cabecalhoLista {
	margin: 0;
	padding: 0;
}

.cabecalhoItem {
	margin: 20px;
	list-style: none;
}

.cabecalhoItemLink:hover {
	color: #2C68A3;
}

.cabecalhoItemLink {
	color: aliceblue;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 700;
}

.logoImg {
	display: flex;
}

.logoImg img {
	border-radius: 5px;
	margin: 5px 0;
}



.redesSoc {
	display: flex;
	column-gap: 1rem;
}



/* Para telas maiores que 773px */
@media screen and (min-width: 773px) {
	.cabecalho {
		padding: 0 1rem;
	}

	.cabecalhoLabel {
		display: none;
	}

	.cabecalhoMenu {
		position: unset;
		order: 1;
		margin: 0;
	}

	.cabecalhoLista {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.cabecalhoItem {
		margin: 10px;
	}

	.redesSoc {
		order: 1;
	}

}