html {
	scroll-behavior: smooth;
}

/* Inicio Conteúdo */
.tecInf,
.tecADS,
.tecADM {
	margin-bottom: 2%;
	text-align: justify;
	font-family: sans-serif;
	font-size: larger;
}

.tecInf h2,
.tecADS h2,
.tecADM h2 {
	text-align: center;
}

.tecInfConteudo,
.tecADMConteudo {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.tecInfConteudo img,
.tecADSConteudo img,
.tecADMConteudo img {
	width: 300px;
}

.tecInfTexto,
.tecADSTexto {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.tecADSConteudo {
	display: flex;
	align-items: center;
	column-gap: 1rem;
}

.rsTI,
.jovApr {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;
}

.rsTIIMG,
.jovApr img {
	width: 800px;
}

.tabelaCursos,
tr,
td {
	text-align: center;
	border: 4px solid grey;
}

tbody td p {
	text-align: justify;
}

/* Fim Conteúdo */

@media (max-width: 920px) {

	.tecInfConteudo,
	.tecADSConteudo,
	.tecADMConteudo {
		flex-direction: column;
	}

	.rsTIIMG,
	.jovApr img {
		width: 400px;
	}

	.tituloTab {
		font-size: 1.9rem;
		margin: 1px auto;
	}

	.columTab {
		font-size: 0.9rem;
		margin: 1px auto;
	}

	.tabelaCursos tr td h3 {
		font-size: 0.85rem;
	}

	.tabelaCursos tr td p {
		font-size: 0.85rem;
	}
}