html {
	scroll-behavior: smooth;
}

/* Inicio Conteúdo */
.tecInf,
.tecADS,
.tecADM {
	margin-bottom: 2%;
	text-align: justify;
	font-family: sans-serif;
	font-size: larger;
}

.tecInf h2,
.tecADS h2,
.tecADM h2 {
	text-align: center;
}

.tecInfConteudo,
.tecADMConteudo {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	column-gap: 1rem;
}

.tecInfConteudo img,
.tecADSConteudo img,
.tecADMConteudo img {
	width: 300px;
}

.tecInfTexto,
.tecADSTexto,
.tecADMTexto {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.tecADSConteudo {
	display: flex;
	align-items: center;
	column-gap: 1rem;
}

.botaoAqui {
	padding: 1rem 0.5rem 1rem 0.5rem;
	border-radius: 1rem;
	background-color: antiquewhite;
	text-decoration: none;
	color: #FE6002;
	text-align: center;
	font-size: 1.75rem;
	font-weight: 700;
	margin: 1rem 0 1rem 0;
}

.botaoAqui:hover {
	background-color: rgba(255, 166, 0, 0.616);
	cursor: pointer;
	box-shadow: 0px 0px 10px 5px;
}

.rsTI,
.jovApr {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;
}

.rsTIIMG,
.jovApr img {
	width: 800px;
}

.tituloCurLiv {
	text-align: center;
}

.maisInfoCurLiv {
	text-align: center;
}

/* Fim Conteúdo */

@media (max-width: 920px) {

	.tecInfConteudo,
	.tecADSConteudo,
	.tecADMConteudo {
		flex-direction: column;
	}

	.rsTIIMG,
	.jovApr img {
		width: 400px;
	}
}